body{
margin:0;
padding:0;
background:#f5f5f5;
font-family:Arial,sans-serif;
text-align:center;
}

.banner{
width:100%;
height: auto;
display:block;
margin:auto;
}
h1{
color:#b8860b;
}

.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
padding:20px;
}

.gallery img{
width:160px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,.2);
}
